body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1,
h2,
h3 {
  text-align: center;
}

form,
#filters,
#transaction-list {
  margin-bottom: 20px;
}

.none {
  display: none;
}

input,
select,
textarea,
button {
  margin: 5px;
  padding: 8px;
  font-size: 1em;
}

button {
  cursor: pointer;
}

table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #d3dffa;
}

.actions button {
  margin: 0 5px;
}
